In [1]:
import os
import glob

file_location = os.path.join('*.json')
print(file_location)
filenames = glob.glob(file_location)
print(filenames)

import json

data_test = []
data_test_names = []

for i,fname in enumerate(filenames):
    with open(fname) as f:
        data_test.append(json.load(f))
        data_test_names.append(fname)

print(data_test[0]['pages'][0]['tables'][0]['properties'])

*.json
['160128768-ZNHSZ.json', '688783428-01FGR.json', '833277181-LXI70.json', '931075459-21NT6.json', '952962240-N2O9X.json', '953066256-UXU05.json', '953249057-XK596.json']
{'rows': 48, 'columns': 8}

In [2]:
f = []
l = len(data_test)
# print(l)
for i in range(l):
#     word_det_list = data_test[i]['pages'][0]['tables'][0]
    pgn = 0
    for z in range(len(data_test[i]['pages'])):
        if data_test[i]['pages'][z]['pageNumber'] == 1:
            pgn = z
#     print(pgn)
    r = data_test[i]['pages'][pgn]['tables'][0]['properties']['rows']
    c = data_test[i]['pages'][pgn]['tables'][0]['properties']['columns']
    x = []
    headers = []
    for a in range(c):
            headers.append(data_test[i]['pages'][pgn]['tables'][0]['cells'][a]['text'])
#     print(headers)
    for q in range(c):
        l = []
        for w in range(r):
            l.append(data_test[i]['pages'][pgn]['tables'][0]['cells'][(q*8)+w]['text'])
        x.append(l)
    f.append(x)

In [3]:
import pandas as pd
flist = []
for i in range(len(data_test)):
    df = pd.DataFrame(f[i][1:], columns =f[i][0])
    flist.append(df)

C:\Users\riddh\anaconda3\envs\BDS\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\riddh\anaconda3\envs\BDS\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\riddh\anaconda3\envs\BDS\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [4]:
flist[2]

,Post Date,Value Date,Branch Code,Cheque Number,Account Description,Debit,Credit,Balance,04/01/2021
0,04/01/2021,04/01/2021,02684,,BY TRANSFER/N EFT ABDULKADA R AND SONS SDC2783...,,100000.00,169875.88 CR,05/01/2021
1,05/01/2021,05/01/2021,02684,,TO TRANSFER/H DFC BANK LIMITED CBIN00000000 01...,18724.00,,151151.88 CR,07/01/2021
2,07/01/2021,07/01/2021,08103,,BY TRANSFER/Fr om A/C 1143599988,,25000.00,176151.88 CR,08/01/2021
3,08/01/2021,08/01/2021,02684,,TO TRANSFER/N EFT American Express CBINH210080...,2077.00,,174074.88 CR,11/01/2021
4,11/01/2021,11/01/2021,02684,,TO TRANSFER/T P Dewan Housing Fin CBIN00000000...,79799.00,,94275.88 CR,11/01/2021
5,11/01/2021,11/01/2021,02684,,TO TRANSFER/T P Dewan Housing Fin CBIN00000000...,39880.00,,54395.88 CR,15/01/2021
6,15/01/2021,15/01/2021,02684,,TO TRANSFER/N EFT American Express CBINH210155...,9140.00,,45255.88 CR,15/01/2021

In [5]:
#Check if no. of columns in reasonable (5<x<12)
if 5 < len(flist[2].columns ) < 12:
    print('Passed')

Passed

In [6]:
predicted_columns = [0] * len(flist[2].columns)

In [7]:
#Identify date columns
import spacy
from spacy import displacy

NER = spacy.load("en_core_web_sm")

In [8]:
for i in flist[2]['Post Date']:
    text1= NER(i)
    for word in text1.ents:
        print(word.text,word.label_)

04/01/2021 ORG
07/01/2021 DATE
08/01/2021 DATE
11/01/2021 CARDINAL
11/01/2021 CARDINAL
15/01/2021 DATE

In [9]:
a = NER('04/01/2021')
for word in a.ents:
        print(word.text,word.label_)

04/01/2021 ORG

In [10]:
testl = []
for q in flist[2].columns:
    testsubl = []
    for i in flist[2][q]:
        text1= NER(i)
        for word in text1.ents:
            print(word.text,word.label_)
            testsubl.extend([word.label_])
    testl.append(testsubl)

04/01/2021 ORG
07/01/2021 DATE
08/01/2021 DATE
11/01/2021 CARDINAL
11/01/2021 CARDINAL
15/01/2021 DATE
04/01/2021 ORG
07/01/2021 DATE
08/01/2021 DATE
11/01/2021 CARDINAL
11/01/2021 CARDINAL
15/01/2021 DATE
02684 DATE
02684 DATE
08103 DATE
02684 DATE
02684 DATE
02684 DATE
02684 DATE
TRANSFER/N EFT ABDULKADA ORG
TRANSFER/ ORG
01722941 DATE
TRANSFER/ ORG
1143599988 DATE
TRANSFER/N EFT American Express ORG
66677 DATE
TRANSFER/T P Dewan Housing Fin ORG
02032182 DATE
TRANSFER/T P Dewan Housing Fin ORG
02032177 DATE
TRANSFER/N EFT American Express CBINH210155 ORG
18724.00 CARDINAL
2077.00 CARDINAL
79799.00 CARDINAL
39880.00 CARDINAL
9140.00 CARDINAL
100000.00 CARDINAL
25000.00 CARDINAL
169875.88 CARDINAL
CR ORG
151151.88 CARDINAL
CR ORG
176151.88 CARDINAL
CR ORG
174074.88 CARDINAL
CR ORG
94275.88 CARDINAL
CR ORG
54395.88 CARDINAL
CR ORG
45255.88 CARDINAL
CR ORG
07/01/2021 DATE
08/01/2021 DATE
11/01/2021 CARDINAL
11/01/2021 CARDINAL
15/01/2021 DATE
15/01/2021 DATE

In [11]:
testl

[['ORG', 'DATE', 'DATE', 'CARDINAL', 'CARDINAL', 'DATE'],
 ['ORG', 'DATE', 'DATE', 'CARDINAL', 'CARDINAL', 'DATE'],
 ['DATE', 'DATE', 'DATE', 'DATE', 'DATE', 'DATE', 'DATE'],
 [],
 ['ORG',
  'ORG',
  'DATE',
  'ORG',
  'DATE',
  'ORG',
  'DATE',
  'ORG',
  'DATE',
  'ORG',
  'DATE',
  'ORG'],
 ['CARDINAL', 'CARDINAL', 'CARDINAL', 'CARDINAL', 'CARDINAL'],
 ['CARDINAL', 'CARDINAL'],
 ['CARDINAL',
  'ORG',
  'CARDINAL',
  'ORG',
  'CARDINAL',
  'ORG',
  'CARDINAL',
  'ORG',
  'CARDINAL',
  'ORG',
  'CARDINAL',
  'ORG',
  'CARDINAL',
  'ORG'],
 ['DATE', 'DATE', 'CARDINAL', 'CARDINAL', 'DATE', 'DATE']]

In [12]:
total_l = []
for q in flist[2].columns:
    sub_l2 = 0
    for i in flist[2][q]:
        sub_l2 += len(i)
    total_l.append(sub_l2)

curcoldesc = total_l.index(max(total_l))
predicted_columns[curcoldesc] = 'Description'

In [13]:
from collections import Counter
for c, q in enumerate(testl):
    if c == predicted_columns.index('Description'):
        continue
    a = Counter(q)
    print(a)
    if a['DATE'] >= 1 and a['DATE'] >= (len(a)/2):
        predicted_columns[c] = 'Date'
        print('date')

Counter({'DATE': 3, 'CARDINAL': 2, 'ORG': 1})
date
Counter({'DATE': 3, 'CARDINAL': 2, 'ORG': 1})
date
Counter({'DATE': 7})
date
Counter()
Counter({'CARDINAL': 5})
Counter({'CARDINAL': 2})
Counter({'CARDINAL': 7, 'ORG': 7})
Counter({'DATE': 4, 'CARDINAL': 2})
date

In [14]:
# for i in flist[2]:
#     print(Counter(i))
for c, q in enumerate(testl):
    if c == predicted_columns.index('Description'):
        continue
    elif predicted_columns[c] == 'Date':
        continue
    a = Counter(q)
    print(a)
    if a['CARDINAL'] >= 1 and a['CARDINAL'] >= (len(a)/2):
        predicted_columns[c] = 'Price'
        print('CARDINAL')

Counter()
Counter({'CARDINAL': 5})
CARDINAL
Counter({'CARDINAL': 2})
CARDINAL
Counter({'CARDINAL': 7, 'ORG': 7})
CARDINAL

In [15]:
predicted_columns

['Date', 'Date', 'Date', 0, 'Description', 'Price', 'Price', 'Price', 'Date']

Check for errors

In [16]:
ErrorList = []

In [17]:
# Description missing errors
e_desc = 'Description missing error'
for c1, i in enumerate(predicted_columns):
    if i == 'Description':
        for c2, j in enumerate(flist[2][flist[2].columns[c1]]):
            if j == '' or j is None:
                ErrorList.append({'Error:', e_desc, 'Column:', c1, 'Row:', c2})
                print('col- ', c1 , 'row - ', c2, 'element - ', j)
#             print(j)

In [18]:
# Date missing errors
e_date = 'Date missing error'
for c1, i in enumerate(predicted_columns):
    if i == 'Date':
        for c2, j in enumerate(flist[2][flist[2].columns[c1]]):
            if j == '' or j is None:
                ErrorList.append({'Error:', e_desc, 'Column:', c1, 'Row:', c2})
                print('col- ', c1 , 'row - ', c2, 'element - ', j)
#             print(j)

In [19]:
# Find Balance Col
amount_find_l = []
for c1, i in enumerate(predicted_columns):
    if i == 'Price':
        amount_find_l_sub = 0
        for c2, j in enumerate(flist[2][flist[2].columns[c1]]):
            if j == '' or j is None:
                continue
#                 print('col- ', c1 , 'row - ', c2, 'element - ', j)
            amount_find_l_sub += 1
        amount_find_l.append({'col': c1, 'len': amount_find_l_sub})
#         print(amount_find_l)
amfield = 0
bal_col = None
for i in amount_find_l:
    if i['len'] >= amfield:
        amfield = i['len']
        bal_col = i
predicted_columns[bal_col['col']] = 'Balance'
predicted_columns
# if [x['len'] for x in amount_find_l].count(bal_col['len']) == 1:
#     predicted_columns[bal_col['col']] = 'Balance'
# else:
#     #Rightmost col is given ablance tag
#     predicted_columns[bal_col['col']] = 'Balance'

['Date', 'Date', 'Date', 0, 'Description', 'Price', 'Price', 'Balance', 'Date']

In [20]:
# Balance missing errors
e_bal = 'Balance missing error'
for c1, i in enumerate(predicted_columns):
    if i == 'Date':
        for c2, j in enumerate(flist[2][flist[2].columns[c1]]):
            if j == '' or j is None:
                ErrorList.append({'Error:', e_bal, 'Column:', c1, 'Row:', c2})
                print('col- ', c1 , 'row - ', c2, 'element - ', j)

In [21]:
# Balance calculation errors
new_cols = []
for c1, i in enumerate(predicted_columns):
    new_cols_sub = []
    if i == 'Price' or i == 'Balance':
        for c2, j in enumerate(flist[2][flist[2].columns[c1]]):
            start_l, end_l = 0, len(j)
            for c, i in enumerate(j):
                try:
                    int(i)
                    start_l = c
                    break
                except:
                    pass
            for c, i in enumerate(j[::-1]):
                try:
                    int(i)
                    end_l = len(j) - c
                    break
                except:
                    pass
            try:
                a = float(j[start_l: end_l])
            except:
                a = 0.0
            new_cols_sub.append(a)
        new_cols.append({'column_no': c1, 'data': new_cols_sub})
new_cols

[{'column_no': 5,
  'data': [0.0, 18724.0, 0.0, 2077.0, 79799.0, 39880.0, 9140.0]},
 {'column_no': 6, 'data': [100000.0, 0.0, 25000.0, 0.0, 0.0, 0.0, 0.0]},
 {'column_no': 7,
  'data': [169875.88,
   151151.88,
   176151.88,
   174074.88,
   94275.88,
   54395.88,
   45255.88]}]

In [32]:
balance_index = predicted_columns.index('Balance')
bal_i_test = -1
for c, q in enumerate(new_cols):
    if q['column_no'] == balance_index:
        bal_i_test = c
crdrlist = []
for i in range(len(new_cols)):
    credit_count = 0
    debit_count = 0
    rows_matched_credit = []
    rows_matched_debit = []
    for j in range(1, len(new_cols[i]['data'])):
        if round(new_cols[bal_i_test]['data'][j-1] + new_cols[i]['data'][j], 2) == round(new_cols[bal_i_test]['data'][j], 2):
            debit_count += 1
            rows_matched_debit.append(j)
            print(new_cols[bal_i_test]['data'][j-1], '+', new_cols[i]['data'][j], '=', new_cols[bal_i_test]['data'][j])
        if round(new_cols[bal_i_test]['data'][j-1] - new_cols[i]['data'][j], 2) == round(new_cols[bal_i_test]['data'][j], 2):
            credit_count += 1
            rows_matched_credit.append(j)
            print(new_cols[bal_i_test]['data'][j-1], '-', new_cols[i]['data'][j], '=', new_cols[bal_i_test]['data'][j])
#         if j == 5:
#             print('Error check',new_cols[bal_i_test]['data'][j-1], '-', new_cols[i]['data'][j], '=', round(new_cols[bal_i_test]['data'][j-1] - new_cols[i]['data'][j], 2), '----', new_cols[bal_i_test]['data'][j])
    crdrlist.append({'column_no': new_cols[i]['column_no'], 'credit_count': credit_count, 'debit_count': debit_count, 'rows_matched_credit': rows_matched_credit, 'rows_matched_debit': rows_matched_debit})

169875.88 - 18724.0 = 151151.88
176151.88 - 2077.0 = 174074.88
174074.88 - 79799.0 = 94275.88
94275.88 - 39880.0 = 54395.88
54395.88 - 9140.0 = 45255.88
151151.88 + 25000.0 = 176151.88

In [33]:
crdrlist

[{'column_no': 5,
  'credit_count': 5,
  'debit_count': 0,
  'rows_matched_credit': [1, 3, 4, 5, 6],
  'rows_matched_debit': []},
 {'column_no': 6,
  'credit_count': 0,
  'debit_count': 1,
  'rows_matched_credit': [],
  'rows_matched_debit': [2]},
 {'column_no': 7,
  'credit_count': 0,
  'debit_count': 0,
  'rows_matched_credit': [],
  'rows_matched_debit': []}]

In [34]:
#Check if debit credit is in same column
crdrsameflagcol = None
credit_col, debit_col = {'column_no': 0, 'credit_count': 0}, {'column_no': 0, 'debit_count': 0}
for c, i in enumerate(crdrlist):
#     if i['credit_count'] >=2 and i['debit_count'] >= 2:
#         crdrsameflagcol = c
    if i['credit_count'] >= credit_col['credit_count']:
        credit_col = i
    if i['debit_count'] >= debit_col['debit_count']:
        debit_col = i
if credit_col['column_no'] == debit_col['column_no']:
    crdrsameflagcol = 1

In [35]:
credit_col, debit_col,crdrsameflagcol

({'column_no': 5,
  'credit_count': 5,
  'debit_count': 0,
  'rows_matched_credit': [1, 3, 4, 5, 6],
  'rows_matched_debit': []},
 {'column_no': 6,
  'credit_count': 0,
  'debit_count': 1,
  'rows_matched_credit': [],
  'rows_matched_debit': [2]},
 None)

In [36]:
flist[2]

,Post Date,Value Date,Branch Code,Cheque Number,Account Description,Debit,Credit,Balance,04/01/2021
0,04/01/2021,04/01/2021,02684,,BY TRANSFER/N EFT ABDULKADA R AND SONS SDC2783...,,100000.00,169875.88 CR,05/01/2021
1,05/01/2021,05/01/2021,02684,,TO TRANSFER/H DFC BANK LIMITED CBIN00000000 01...,18724.00,,151151.88 CR,07/01/2021
2,07/01/2021,07/01/2021,08103,,BY TRANSFER/Fr om A/C 1143599988,,25000.00,176151.88 CR,08/01/2021
3,08/01/2021,08/01/2021,02684,,TO TRANSFER/N EFT American Express CBINH210080...,2077.00,,174074.88 CR,11/01/2021
4,11/01/2021,11/01/2021,02684,,TO TRANSFER/T P Dewan Housing Fin CBIN00000000...,79799.00,,94275.88 CR,11/01/2021
5,11/01/2021,11/01/2021,02684,,TO TRANSFER/T P Dewan Housing Fin CBIN00000000...,39880.00,,54395.88 CR,15/01/2021
6,15/01/2021,15/01/2021,02684,,TO TRANSFER/N EFT American Express CBINH210155...,9140.00,,45255.88 CR,15/01/2021

In [37]:
e_credit = 'Credit not matching with balance'
e_debit = 'Debit not matching with balance'
if not crdrsameflagcol:
    for c, i in enumerate(flist[2].iloc[:,credit_col['column_no']]):
        if c == 0:
            continue
        if (not (i is None or i == '' or i == ' ')) and (c not in credit_col['rows_matched_credit']):
            ErrorList.append({'Error:', e_credit, 'Column:', credit_col['column_no'], 'Row:', c})
#             print('ye', c, type(i), i, len(i))
    for c, i in enumerate(flist[2].iloc[:,debit_col['column_no']]):
        if c == 0:
            continue
        if (not (i is None or i == '' or i == ' ')) and (c not in debit_col['rows_matched_debit']):
            ErrorList.append({'Error:', e_debit, 'Column:', debit_col['column_no'], 'Row:', c})
#             print('yee', c, type(i), i, len(i))

In [39]:
for i in ErrorList:
    print(i)
ErrorList

[]