In [1]:
import os
import glob

file_location = os.path.join('*.json')
print(file_location)
filenames = glob.glob(file_location)
print(filenames)

import json

data_test = []
data_test_names = []

for i,fname in enumerate(filenames):
    with open(fname) as f:
        data_test.append(json.load(f))
        data_test_names.append(fname)

print(data_test[0]['pages'][0]['tables'][0]['properties'])

f = []
l = len(data_test)
# print(l)
for i in range(l):
#     word_det_list = data_test[i]['pages'][0]['tables'][0]
    pgn = 0
    for z in range(len(data_test[i]['pages'])):
        if data_test[i]['pages'][z]['pageNumber'] == 1:
            pgn = z
#     print(pgn)
    r = data_test[i]['pages'][pgn]['tables'][0]['properties']['rows']
    c = data_test[i]['pages'][pgn]['tables'][0]['properties']['columns']
    x = []
    headers = []
    for a in range(c):
            headers.append(data_test[i]['pages'][pgn]['tables'][0]['cells'][a]['text'])
#     print(headers)
    for q in range(c):
        l = []
        for w in range(r):
            l.append(data_test[i]['pages'][pgn]['tables'][0]['cells'][(q*8)+w]['text'])
        x.append(l)
    f.append(x)

import pandas as pd
flist = []
for i in range(len(data_test)):
    df = pd.DataFrame(f[i][1:], columns =f[i][0])
    flist.append(df)

flist[0]

*.json
['input.json']
{'rows': 9, 'columns': 8}

C:\Users\riddh\anaconda3\envs\BDS\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\riddh\anaconda3\envs\BDS\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\riddh\anaconda3\envs\BDS\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

,Post Date,Value Date,Branch Code,Cheque Number,Account Description,Debit,Credit,Balance,04/01/2021
0,04/01/2021,04/01/2021,02684,,BY TRANSFER/N EFT ABDULKADA R AND SONS SDC2783...,,100000.00,169875.88 CR,05/01/2021
1,05/01/2021,05/01/2021,02684,,TO TRANSFER/H DFC BANK LIMITED CBIN00000000 01...,18724.00,,151151.88 CR,07/01/2021
2,07/01/2021,07/01/2021,08103,,BY TRANSFER/Fr om A/C 1143599988,,25000.00,176151.88 CR,08/01/2021
3,08/01/2021,08/01/2021,02684,,TO TRANSFER/N EFT American Express CBINH210080...,2077.00,,174074.88 CR,11/01/2021
4,11/01/2021,11/01/2021,02684,,TO TRANSFER/T P Dewan Housing Fin CBIN00000000...,79799.00,,94275.88 CR,11/01/2021
5,11/01/2021,11/01/2021,02684,,TO TRANSFER/T P Dewan Housing Fin CBIN00000000...,39880.00,,54395.88 CR,15/01/2021
6,15/01/2021,15/01/2021,02684,,TO TRANSFER/N EFT American Express CBINH210155...,9140.00,,45255.88 CR,15/01/2021

Change Data to force errors

In [2]:
flist[0]['Value Date'][4] = ''
flist[0]['Debit'][5] = '1000.00'
flist[0]['Account Description'][6] = ''

In [3]:
flist[0]

,Post Date,Value Date,Branch Code,Cheque Number,Account Description,Debit,Credit,Balance,04/01/2021
0,04/01/2021,04/01/2021,02684,,BY TRANSFER/N EFT ABDULKADA R AND SONS SDC2783...,,100000.00,169875.88 CR,05/01/2021
1,05/01/2021,05/01/2021,02684,,TO TRANSFER/H DFC BANK LIMITED CBIN00000000 01...,18724.00,,151151.88 CR,07/01/2021
2,07/01/2021,07/01/2021,08103,,BY TRANSFER/Fr om A/C 1143599988,,25000.00,176151.88 CR,08/01/2021
3,08/01/2021,08/01/2021,02684,,TO TRANSFER/N EFT American Express CBINH210080...,2077.00,,174074.88 CR,11/01/2021
4,11/01/2021,,02684,,TO TRANSFER/T P Dewan Housing Fin CBIN00000000...,79799.00,,94275.88 CR,11/01/2021
5,11/01/2021,11/01/2021,02684,,TO TRANSFER/T P Dewan Housing Fin CBIN00000000...,1000.00,,54395.88 CR,15/01/2021
6,15/01/2021,15/01/2021,02684,,,9140.00,,45255.88 CR,15/01/2021

In [4]:
import spacy
from spacy import displacy
NER = spacy.load("en_core_web_sm")


from collections import Counter

In [5]:
#Check if no. of columns in reasonable (5<x<12)
if 5 < len(flist[0].columns ) < 12:
    print('Passed')

predicted_columns = [0] * len(flist[0].columns)
predicted_columns

Passed

[0, 0, 0, 0, 0, 0, 0, 0, 0]

RUN NER THROUGH WHOLE DATASET TO CHECK FOR PREDICTION LATER

In [6]:
testl = []
for q in flist[0].columns:
    testsubl = []
    for i in flist[0][q]:
        text1= NER(i)
        for word in text1.ents:
            testsubl.extend([word.label_])
    testl.append(testsubl)

FIGURE OUT DESCRIPTION COLUMN THROUGH MAX DATA TREND & ADD TO predicted_columns

In [7]:
total_l = []
for q in flist[0].columns:
    sub_l2 = 0
    for i in flist[0][q]:
        sub_l2 += len(i)
    total_l.append(sub_l2)

curcoldesc = total_l.index(max(total_l))
predicted_columns[curcoldesc] = 'Description'
predicted_columns

[0, 0, 0, 0, 'Description', 0, 0, 0, 0]

FIGURE OUT DATE COLUMN THROUGH RESULTS FROM NER DATA & ADD TO predicted_columns

In [8]:
for c, q in enumerate(testl):
    if c == predicted_columns.index('Description'):
        continue
    a = Counter(q)
    print(a)
    if a['DATE'] >= 1 and a['DATE'] >= (len(a)/2):
        predicted_columns[c] = 'Date'
        print('date')
predicted_columns

Counter({'DATE': 3, 'CARDINAL': 2, 'ORG': 1})
date
Counter({'DATE': 3, 'ORG': 1, 'CARDINAL': 1})
date
Counter({'DATE': 7})
date
Counter()
Counter({'CARDINAL': 5})
Counter({'CARDINAL': 2})
Counter({'CARDINAL': 7, 'ORG': 7})
Counter({'DATE': 4, 'CARDINAL': 2})
date

['Date', 'Date', 'Date', 0, 'Description', 0, 0, 0, 'Date']

FIGURE OUT PRICE COLUMN THROUGH RESULTS FROM NER DATA & ADD TO predicted_columns

In [9]:
for c, q in enumerate(testl):
    if c == predicted_columns.index('Description'):
        continue
    elif predicted_columns[c] == 'Date':
        continue
    a = Counter(q)
    print(a)
    if a['CARDINAL'] >= 1 and a['CARDINAL'] >= (len(a)/2):
        predicted_columns[c] = 'Price'
        print('CARDINAL')
predicted_columns

Counter()
Counter({'CARDINAL': 5})
CARDINAL
Counter({'CARDINAL': 2})
CARDINAL
Counter({'CARDINAL': 7, 'ORG': 7})
CARDINAL

['Date', 'Date', 'Date', 0, 'Description', 'Price', 'Price', 'Price', 'Date']

CHECK FOR ERRORS

In [10]:
ErrorList = []

Description missing errors

In [11]:
# Description missing errors
e_desc = 'Description missing error'
for c1, i in enumerate(predicted_columns):
    if i == 'Description':
        for c2, j in enumerate(flist[0][flist[0].columns[c1]]):
            if j == '' or j is None:
                ErrorList.append({'Error': e_desc, 'Column': c1, 'Row': c2})
                print('col- ', c1 , 'row - ', c2, 'element - ', j)

col-  4 row -  6 element -

Date missing errors

In [12]:
# Date missing errors
e_date = 'Date missing error'
for c1, i in enumerate(predicted_columns):
    if i == 'Date':
        for c2, j in enumerate(flist[0][flist[0].columns[c1]]):
            if j == '' or j is None:
                ErrorList.append({'Error': e_date, 'Column': c1, 'Row': c2})
                print('col- ', c1 , 'row - ', c2, 'element - ', j)

col-  1 row -  4 element -

Find Balance Column

In [13]:
amount_find_l = []
for c1, i in enumerate(predicted_columns):
    if i == 'Price':
        amount_find_l_sub = 0
        for c2, j in enumerate(flist[0][flist[0].columns[c1]]):
            if j == '' or j is None:
                continue
#                 print('col- ', c1 , 'row - ', c2, 'element - ', j)
            amount_find_l_sub += 1
        amount_find_l.append({'col': c1, 'len': amount_find_l_sub})
#         print(amount_find_l)
amfield = 0
bal_col = None
for i in amount_find_l:
    if i['len'] >= amfield:
        amfield = i['len']
        bal_col = i
predicted_columns[bal_col['col']] = 'Balance'
predicted_columns

['Date', 'Date', 'Date', 0, 'Description', 'Price', 'Price', 'Balance', 'Date']

Balance missing errors

In [14]:
e_bal = 'Balance missing error'
for c1, i in enumerate(predicted_columns):
    if i == 'Balance':
        for c2, j in enumerate(flist[0][flist[0].columns[c1]]):
            if j == '' or j is None:
                ErrorList.append({'Error': e_bal, 'Column': c1, 'Row': c2})
                print('col- ', c1 , 'row - ', c2, 'element - ', j)

Balance calculation errors

In [15]:
new_cols = []
for c1, i in enumerate(predicted_columns):
    new_cols_sub = []
    if i == 'Price' or i == 'Balance':
        for c2, j in enumerate(flist[0][flist[0].columns[c1]]):
            start_l, end_l = 0, len(j)
            for c, i in enumerate(j):
                try:
                    int(i)
                    start_l = c
                    break
                except:
                    pass
            for c, i in enumerate(j[::-1]):
                try:
                    int(i)
                    end_l = len(j) - c
                    break
                except:
                    pass
            try:
                a = float(j[start_l: end_l])
            except:
                a = 0.0
            new_cols_sub.append(a)
        new_cols.append({'column_no': c1, 'data': new_cols_sub})
new_cols

[{'column_no': 5,
  'data': [0.0, 18724.0, 0.0, 2077.0, 79799.0, 1000.0, 9140.0]},
 {'column_no': 6, 'data': [100000.0, 0.0, 25000.0, 0.0, 0.0, 0.0, 0.0]},
 {'column_no': 7,
  'data': [169875.88,
   151151.88,
   176151.88,
   174074.88,
   94275.88,
   54395.88,
   45255.88]}]

In [16]:
balance_index = predicted_columns.index('Balance')
bal_i_test = -1
for c, q in enumerate(new_cols):
    if q['column_no'] == balance_index:
        bal_i_test = c
crdrlist = []
for i in range(len(new_cols)):
    credit_count = 0
    debit_count = 0
    rows_matched_credit = []
    rows_matched_debit = []
    for j in range(1, len(new_cols[i]['data'])):
        if round(new_cols[bal_i_test]['data'][j-1] + new_cols[i]['data'][j], 2) == round(new_cols[bal_i_test]['data'][j], 2):
            debit_count += 1
            rows_matched_debit.append(j)
            print(new_cols[bal_i_test]['data'][j-1], '+', new_cols[i]['data'][j], '=', new_cols[bal_i_test]['data'][j])
        if round(new_cols[bal_i_test]['data'][j-1] - new_cols[i]['data'][j], 2) == round(new_cols[bal_i_test]['data'][j], 2):
            credit_count += 1
            rows_matched_credit.append(j)
            print(new_cols[bal_i_test]['data'][j-1], '-', new_cols[i]['data'][j], '=', new_cols[bal_i_test]['data'][j])
#         if j == 5:
#             print('Error check',new_cols[bal_i_test]['data'][j-1], '-', new_cols[i]['data'][j], '=', round(new_cols[bal_i_test]['data'][j-1] - new_cols[i]['data'][j], 2), '----', new_cols[bal_i_test]['data'][j])
    crdrlist.append({'column_no': new_cols[i]['column_no'], 'credit_count': credit_count, 'debit_count': debit_count, 'rows_matched_credit': rows_matched_credit, 'rows_matched_debit': rows_matched_debit})

169875.88 - 18724.0 = 151151.88
176151.88 - 2077.0 = 174074.88
174074.88 - 79799.0 = 94275.88
54395.88 - 9140.0 = 45255.88
151151.88 + 25000.0 = 176151.88

Check if debit credit is in same column

In [17]:
crdrsameflagcol = None
credit_col, debit_col = {'column_no': 0, 'credit_count': 0}, {'column_no': 0, 'debit_count': 0}
for c, i in enumerate(crdrlist):
#     if i['credit_count'] >=2 and i['debit_count'] >= 2:
#         crdrsameflagcol = c
    if i['credit_count'] >= credit_col['credit_count']:
        credit_col = i
    if i['debit_count'] >= debit_col['debit_count']:
        debit_col = i
if credit_col['column_no'] == debit_col['column_no']:
    crdrsameflagcol = 1

Balance calculation errors added to Error List

In [18]:
e_credit = 'Credit not matching with balance'
e_debit = 'Debit not matching with balance'
if not crdrsameflagcol:
    for c, i in enumerate(flist[0].iloc[:,credit_col['column_no']]):
        if c == 0:
            continue
        if (not (i is None or i == '' or i == ' ')) and (c not in credit_col['rows_matched_credit']):
            ErrorList.append({'Error:': e_credit, 'Column:': credit_col['column_no'], 'Row:': c})
#             print('ye', c, type(i), i, len(i))
    for c, i in enumerate(flist[0].iloc[:,debit_col['column_no']]):
        if c == 0:
            continue
        if (not (i is None or i == '' or i == ' ')) and (c not in debit_col['rows_matched_debit']):
            ErrorList.append({'Error:': e_debit, 'Column:': debit_col['column_no'], 'Row:': c})

In [19]:
ErrorList

[{'Error': 'Description missing error', 'Column': 4, 'Row': 6},
 {'Error': 'Date missing error', 'Column': 1, 'Row': 4},
 {'Error:': 'Credit not matching with balance', 'Column:': 5, 'Row:': 5}]